# Файл .env
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_secret_password
POSTGRES_DB=library_db

# Ссылка для локального запуска (без докера)
DATABASE_URL=postgresql+asyncpg://my_user:my_secret_password@localhost:5432/library_db

# MinIO
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=documents
MINIO_SECURE=false
