# Environments
.env
.venv
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary conversion directories
preview-*/

# Logs
*.log